* {
  box-sizing: border-box;
}

body {
  
  
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

button {
  padding: 10px 40px;
  font-size: 18px;
}

.button-wrapper {
  margin-left: 500px;
    margin-top: 300px;
}




input {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 5px;
  font-size: 20px;
}

span {
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
}

.timer {
  display: flex;
}

.field {
  padding-right: 10px;
}
